@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Acme|Alfa+Slab+One|Allerta+Stencil|Anton|Baloo+Thambi|Black+Ops+One|Boogaloo|Bree+Serif|Carter+One|Caveat+Brush|Concert+One|Courgette|Crete+Round|Damion|Dancing+Script|Fahkwang|Fredericka+the+Great|Gloria+Hallelujah|Gochi+Hand|Great+Vibes|Inconsolata|Indie+Flower|Kaushan+Script|Lobster|Luckiest+Guy|Major+Mono+Display|Merienda|Merriweather|Monoton|Montserrat|Open+Sans+Condensed:300|Oswald|Pacifico|Parisienne|Permanent+Marker|Raleway|Raleway+Dots|Rancho|Righteous|Roboto|Sacramento|Satisfy|Shadows+Into+Light|Shrikhand|Special+Elite|Squada+One|Tangerine|Ubuntu|ZCOOL+KuaiLe');


/*

font-family: 'Fahkwang', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Major Mono Display', monospace;
font-family: 'ZCOOL KuaiLe', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Inconsolata', monospace;
font-family: 'Anton', sans-serif;
font-family: 'Indie Flower', cursive;
font-family: 'Lobster', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Abril Fatface', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Acme', sans-serif;
font-family: 'Bree Serif', serif;
font-family: 'Righteous', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Crete Round', serif;
font-family: 'Merienda', cursive;
font-family: 'Courgette', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Concert One', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Alfa Slab One', cursive;
font-family: 'Special Elite', cursive;
font-family: 'Luckiest Guy', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Tangerine', cursive;
font-family: 'Baloo Thambi', cursive;
font-family: 'Gochi Hand', cursive;
font-family: 'Boogaloo', cursive;
font-family: 'Monoton', cursive;
font-family: 'Carter One', cursive;
font-family: 'Allerta Stencil', sans-serif;
font-family: 'Shrikhand', cursive;
font-family: 'Damion', cursive;
font-family: 'Parisienne', cursive;
font-family: 'Caveat Brush', cursive;
font-family: 'Black Ops One', cursive;
font-family: 'Fredericka the Great', cursive;
font-family: 'Rancho', cursive;
font-family: 'Squada One', cursive;
font-family: 'Raleway Dots', cursive;


*/